<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nBox</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
</head>
<body>
    <!-- site header -->
<header id="site-header" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html">
            <span class="fa fa-shield"></span> nBox
        </a>
        <button class="navbar-toggler bg-gradient" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#demo" class="butn butn-primary butn-style">View Demo</a>
                </li>
            </ul>
        </div>
    </nav>
  </header>
  <!-- //site header -->

<!-- banner section -->
<section id="home" class="banner">
    <div id="banner-bg-effect" class="banner-effect"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-12 col-sm-12 order-lg-first mt-lg-0 mt-4">
                <h1 class="mb-4 title"><strong>Doing </strong>the right thing, <br>at the <strong>right time.</strong>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, excepturi.
                    Distinctio accusantium fugit odit? Fugit ipsam nostrum minus alias, expedita voluptatem
                    illo quis id eos quae odio, nobis deleniti delectus? Lorem ipsum dolor sit amet consectetur
                    adipisicing
                    elit.</p>
                <div class="mt-5">
                    <a class="butn butn-primary butn-style mr-2" href="about.html">Read More </a>
                    <a class="butn butn-outline butn-outline-style" href="services.html">Our Services </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 order-first text-lg-left text-center">
                <div>
                    <img src="assets/images/banner-round.png" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- homepage blog grids -->
<section id="blog">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
                <h4 class="section-title">Haber Listesi</h4>
            </div>
        </div>
        <div class="blog-grids row mt-5">
            
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                
                <a href="#blog-single.html">
                    
                    <figure><img src="assets/images/blog.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">4 Steps To Consider Before You Start</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Johnson smith</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 16, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/blog1.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Strategic Plan Execution Management</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Alexander</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 19, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/blog2.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Business planning, strategy and execution</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Elizabeth ker</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 21, 2020</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="blog-grids row mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/blog.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">4 Steps To Consider Before You Start</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Johnson smith</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 16, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-md-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/blog1.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Strategic Plan Execution Management</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Alexander</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 19, 2020</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-lg-0 mt-4 blog-grid" id="zoomIn">
                <a href="#blog-single.html">
                    <figure><img src="assets/images/blog2.jpg" class="img-fluid" alt=""></figure>
                </a>
                <div class="blog-info">
                    <h3><a href="#blog-single.html">Business planning, strategy and execution</a> </h3>
                    <ul>
                        <li><a href="#author"><span class="fa fa-user-o mr-2"></span>Elizabeth ker</a></li>
                        <li><span class="fa fa-calendar mr-2"></span>Jan 21, 2020</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- //homepage blog grids -->

<!-- site footer -->
<footer id="site-footer">
    <div class="top-footer">
      <div class="container my-md-5 my-4">
        <div class="row">
          <div class="col-lg-4">
            <div class="footer-logo mb-3">
              <a href="index.html">
                <span class="fa fa-shield"></span> Captivate
              </a>
            </div>
            <div>
              <p class="">Lorem ipsum dolor, sit amet consectet et adipis icing elit. Ab commodi iure minus
                laboriosam
                placeat quia, dolorem animi. Eveniet repudiandae, perferendis nesciunt deserunt iure et, consequatur
                optio!</p>
            </div>
          </div>
          <!-- Quick Links -->
          <div class="col-lg-3 col-md-4 mt-lg-0 mt-5">
            <h4 class="footer-title">Quick Links</h4>
            <ul class="footer-list">
              <li><a href="about.html"> About company</a></li>
              <li><a href="services.html"> Explore services</a></li>
              <li><a href="#work"> How does we Work?</a></li>
              <li><a href="#projects"> View projects</a></li>
            </ul>
          </div>
          <!-- Newsletter -->
          <div class="col-lg-5 col-md-8 mt-lg-0 mt-5">
            <h4 class="footer-title">Newsletter</h4>
            <p class="mb-4">By subscribing to our mailing list you will always be updated with the latest news from us.
            </p>
            <form class="newsletter-form">
              <input class="input-rounded" type="text" required="" placeholder="Enter Email Address">
              <button type="submit" title="Subscribe" class="btn btn-primary btn-style" name="submit" value="Submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-lg-left text-center mb-lg-0 mb-3">
            <p class="copyright">© 2020 Captivate. All Rights Reserved. Design by <a
              href="https://w3layouts.com/">W3Layouts</a></p>
          </div>
          <div class="col-lg-4 align-center text-lg-right text-center">
            <a href="#facebook" class="social-item"><span class="fa fa-facebook-f"></span></a>
            <a href="#twitter" class="social-item"><span class="fa fa-twitter"></span></a>
            <a href="#linkedin" class="social-item"><span class="fa fa-linkedin"></span></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- //site footer -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>